/* line 3, ../../sass/ie7.sass */
.iosSlider .message-area {
  height: 275px;
}

/* line 6, ../../sass/ie7.sass */
#spotlight .icon {
  margin: 3px 3px;
}

/* line 9, ../../sass/ie7.sass */
.spotlightwrapper {
  border-top: 3px solid #fff;
}

/* line 12, ../../sass/ie7.sass */
.social-icon {
  margin-right: 0;
}

/* line 15, ../../sass/ie7.sass */
#content-container {
  width: 940px;
  _width: 940px;
}

/* line 19, ../../sass/ie7.sass */
fieldset {
  height: 25px;
}

/* line 23, ../../sass/ie7.sass */
.promo {
  width: 48%;
}

/* line 26, ../../sass/ie7.sass */
.small-promo {
  width: 31%;
}

/* line 29, ../../sass/ie7.sass */
#search input#site-search-button {
  display: inline;
  width: 90px;
}

/* line 33, ../../sass/ie7.sass */
#search input#QTlabel {
  width: 65%;
}

/* line 36, ../../sass/ie7.sass */
img {
  height: auto;
}
