/* line 1, ../../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 15, ../../sass/partials/_main.sass */
/*body {
  background: url("../img/background.jpg") repeat;
  background-size: 100% 100%;
  height: 100vh;
  font-family: "Open Sans", Arial, sans-serif;
}*/

/* line 28, ../../sass/partials/_main.sass */
/*form {
  padding: 4em;
  margin: 1em;
  height: 85vh;
  background: #fff;
}*/
/* line 33, ../../sass/partials/_main.sass */
/*form input {
  padding: 0.2em;
  margin: 0.5em;
  margin-bottom: 2em;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  bottom-border: 1px #333 solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}*/
/*@media (max-width: 651px) {
  !* line 33, ../../sass/partials/_main.sass *!
  form input {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
  }
}*/
/*@media (max-width: 651px) {
  !* line 28, ../../sass/partials/_main.sass *!
  form {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    padding: 1em;
    margin: 0em;
  }
}*/

/* line 50, ../../sass/partials/_main.sass */
/*h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 44px;
  color: #373634;
}*/

/* line 55, ../../sass/partials/_main.sass */
/*p {
  color: #373634;
  font-family: "Open Sans", Arial, sans-serif;
}*/

/* line 59, ../../sass/partials/_main.sass */
/*ul {
  list-type: none;
}*/

/* line 62, ../../sass/partials/_main.sass */
.fontStyle {
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 65, ../../sass/partials/_main.sass */
.loginScrn {
  height: 100vh;
  background-size: 100% 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #ccc;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 78, ../../sass/partials/_main.sass */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 82, ../../sass/partials/_main.sass */
.hide {
  display: none;
}

/* line 85, ../../sass/partials/_main.sass */
.splashScrn {
  padding: 0em 1em;
  background: #fff;
  margin: 2em;
  height: 95vh;
}

/* line 91, ../../sass/partials/_main.sass */
.mainScrn {
  width: 103%;
  background: #fff;
  color: #0c97d8;
  padding: 1em;
  cursor: pointer;
  margin-left: -1em;
  margin-right: -1em;
  border: none;
  height: 90vh;
}
@media (max-width: 651px) {
  /* line 91, ../../sass/partials/_main.sass */
  .mainScrn {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 107, ../../sass/partials/_main.sass */
.searchBar {
  width: 50%;
  border-radius: 25px 0 0 25px;
  height: 2em;
  padding: 1.2em;
}

/* line 113, ../../sass/partials/_main.sass */
.searchBtn {
  background: #0c97d8;
  border-radius: 0 25px 25px 0;
  padding: 0.9em 1em 0.8em 1em;
  color: #eee;
  font-size: 0.65em;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 124, ../../sass/partials/_main.sass */
.advancedBtn {
  background: #0c97d8;
  color: #eee;
  font-size: 1em;
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding: 0.3em 1em;
  float: right;
  border: none;
}

/* line 137, ../../sass/partials/_main.sass */
.btn {
  background: #0c97d8;
  border-radius: 25px;
  padding: 9px 35px 7px 35px;
  color: #eee;
  font-size: 0.65em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 147, ../../sass/partials/_main.sass */
.btn:disabled {
  background: gray;
}

/* line 150, ../../sass/partials/_main.sass */
.homeBtn {
  background: transparent;
  color: #0c97d8;
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  float: right;
  position: relative;
  bottom: 1em;
  margin-right: 1em;
  border: none;
}

/* line 162, ../../sass/partials/_main.sass */
.delBtn {
  background: transparent;
  color: #0c97d8;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  cursor: pointer;
  float: right;
  position: relative;
  bottom: 1em;
  margin-right: 1em;
  border: none;
}

/* line 174, ../../sass/partials/_main.sass */
.homeBtn2 {
  background: #bababc;
  border-radius: 25px;
  padding: 9px 35px 7px 35px;
  color: #0c97d8;
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  float: right;
  position: relative;
  margin-right: 1em;
}

/* line 186, ../../sass/partials/_main.sass */
.navBtn {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 65px;
  margin-right: 0.5em;
  color: #fff;
  padding: 1em;
  font-family: "Open Sans", Arial, sans-serif;
  cursor: pointer;
}

/* line 195, ../../sass/partials/_main.sass */
.bottomBtn {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: #bababc;
  padding: 9px 35px 7px 35px;
  color: #0c97d8;
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

/* line 207, ../../sass/partials/_main.sass */
.closeBtn {
  float: right;
  position: relative;
  bottom: 3em;
  cursor: pointer;
}

/* line 214, ../../sass/partials/_main.sass */
.right {
  float: right;
}

/* line 217, ../../sass/partials/_main.sass */
.textArea {
  padding: 1em;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 400px;
}

/* line 222, ../../sass/partials/_main.sass */
.inputBox {
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
}

/* line 226, ../../sass/partials/_main.sass */
.urllink {
  margin-top: 1em;
}

/* line 229, ../../sass/partials/_main.sass */
.queryLink {
  cursor: pointer;
}

/* line 232, ../../sass/partials/_main.sass */
a.downloadLink {
  display: none;
  margin-top: 1em;
}

/* line 236, ../../sass/partials/_main.sass */
.userBtn {
  background: #0c97d8;
  border-radius: 25px;
  padding: 1px 6px 1px 6px;
  color: #eee;
  margin-right: 1em;
  font-size: 0.65em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* line 247, ../../sass/partials/_main.sass */
.tooltip {
  position: relative;
  display: inline-block;
}
/* line 251, ../../sass/partials/_main.sass */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 269, ../../sass/partials/_main.sass */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* line 280, ../../sass/partials/_main.sass */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* line 286, ../../sass/partials/_main.sass */
.canvas {
  height: 100%;
  width: 100%;
}

/* line 291, ../../sass/partials/_main.sass */
.loginLeft {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding: 1em;
  float: left;
  height: 100vh;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: auto;
  position: relative;
}
@media (max-width: 651px) {
  /* line 291, ../../sass/partials/_main.sass */
  .loginLeft {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    background: url("../img/bidwin-logo-tiny.png") no-repeat center center;
    margin: 0;
    height: 40px;
  }
}

/* line 308, ../../sass/partials/_main.sass */
.loginRight {
  background: #fff;
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  float: right;
  margin: 2em;
}
@media (max-width: 651px) {
  /* line 308, ../../sass/partials/_main.sass */
  .loginRight {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    background: orange;
    height: 20px;
    padding: 0;
    margin: 0;
  }
}

/* line 320, ../../sass/partials/_main.sass */
.logo {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 10em;
  position: absolute;
  top: 40%;
  left: 5%;
}
/* line 326, ../../sass/partials/_main.sass */
.logo img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 330, ../../sass/partials/_main.sass */
.logo p {
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
}
@media (max-width: 651px) {
  /* line 320, ../../sass/partials/_main.sass */
  .logo {
    display: none;
  }
}

/* line 336, ../../sass/partials/_main.sass */
.sansP {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
}

/* line 341, ../../sass/partials/_main.sass */
.sansH1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 44px;
  color: #373634;
}
@media (max-width: 651px) {
  /* line 341, ../../sass/partials/_main.sass */
  .sansH1 {
    font-size: 13px;
  }
}

/* line 348, ../../sass/partials/_main.sass */
.blue {
  color: #0083be;
}

/* line 351, ../../sass/partials/_main.sass */
.margin1 {
  margin: 1em 2em;
}

/* line 354, ../../sass/partials/_main.sass */
.facebookBtn {
  cursor: pointer;
  background: url(../img/facebook.png) no-repeat center center;
  width: 12em;
  height: 6em;
  padding: 0;
  border: none;
}

/* line 362, ../../sass/partials/_main.sass */
.googleBtn {
  cursor: pointer;
  background: url(../img/google.png) no-repeat center center;
  width: 12em;
  height: 6em;
  padding: 0;
  border: none;
}

/* line 370, ../../sass/partials/_main.sass */
.loginBtn {
  padding: 12px 55px 12px 55px;
}
@media (max-width: 651px) {
  /* line 370, ../../sass/partials/_main.sass */
  .loginBtn {
    padding: 10px 15px 10px 15px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 379, ../../sass/partials/_main.sass */
.query-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  background-color: #fff;
}

/* line 386, ../../sass/partials/_main.sass */
.article-list {
  background: #fff;
  width: 104%;
  margin-left: -1em;
}
/* line 390, ../../sass/partials/_main.sass */
.article-list a {
  color: #0c97d8;
  text-decoration: none;
}

/* line 394, ../../sass/partials/_main.sass */
.srcLink {
  color: aqua;
}

/* line 397, ../../sass/partials/_main.sass */
.green {
  background-color: #27ae60;
}

/* line 400, ../../sass/partials/_main.sass */
.red {
  background-color: #e74c3c;
}

/* line 403, ../../sass/partials/_main.sass */
.babyblue {
  background-color: #0c97d6;
}

/* line 406, ../../sass/partials/_main.sass */
.orange {
  background-color: #e67e22;
}

/* line 409, ../../sass/partials/_main.sass */
.aqua {
  height: 4em;
  padding-left: 1.5em;
}
